<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <a href="https://bundesblock.de" target="_blank">
                        <img src="img/logos/bundesblock.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="https://legaltech.center" target="_blank">
                        <img src="img/logos/legaltechcenter.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="https://www.europa-uni.de" target="_blank">
                        <img src="img/logos/euv.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
            </div>
        </div>
    </aside>