<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Jetzt anmelden</h2>
                    <h3 class="section-subheading" style="color: white">
                        Die Anmeldung ist bis möglich bis zum 5. September 2018.<br/>
                        Teilnehmerzahl ist begrenzt. Anmeldungen stehen unter Vorbehalt.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                  <a href="mailto:poenitzsch@europa-uni.de?subject=Summer School Legal Tech 2018" style="font-size: 2em;">Per E-Mail an poenitzsch@europa-uni.de</a>
                </div>
            </div>
        </div>
    </section>
