<!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Einen Blick in die Zukunft wagen</h2>
                    <h3 class="section-subheading text-muted">Die Summer School bietet Studierenden und Referendaren einen Blick in ihre Zukunft:</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul style="line-height: 1.7em; font-size: 1.2em;">
                        <li>Was ist heute schon möglich?</li>
                        <li>Wie sehen neue Geschäftsmodelle aus?</li>
                        <li>Womit müssen Juristen sich jetzt beschäftigen, um morgen nicht den Anschluss zu verlieren?</li>
                        <li>Wie sieht die juristische Landschaft in 10 Jahren aus?</li>
                        <li>Was machen Legal Architects und Legal Engineers?</li>
                        <li>Was bedeutet das für mich als Nachwuchsjuristen und meine Möglichkeiten?</li>
                        <li>Welche Chancen eröffnen sich für Legal Tech-Unternehmer?</li>
                        <li>Wie kann ich in Zukunft meine Kreativität und Kompetenz entfalten?</li>
                        <li>Wie vernetze ich das, was ich an der Uni gelernt habe, mit den neuen Entwicklungen und Möglichkeiten?</li>
                        <li>Was tragen meine bereits erworbenen Fähigkeiten bei und wo muss ich mich weiter-bilden?</li>
                    </ul>
                    <br/>
                    <p style="font-size: 1.2em;">Als Gäste werden führende Wissenschaftler, Praktiker und Start-Up-Unternehmerinnen in die Themen einführen und konkrete Anwendungen zeigen, sowie Rede und Antwort stehen. Break-Out-Workshops geben die Gelegenheit, Fragen zu Blockchains, Künstlicher Intelligenz oder Unternehmensgründung zu vertiefen. Auf Wunsch können ECTS-Punkte erworben werden.</p>
                    <p style="font-size: 1.2em;">Die Teilnehmer haben die Gelegenheit, Prototypen von digitalen Rechtsprodukten zu erstellen. Organisiert werden auch Besuche bei den innovativsten Legal Tech-Unternehmen in Berlin.</p>
                    <br/><br/>
                    <p style="font-size: 2em;"><strong>Wann:</strong> 24.-26.09.2018</p>
                    <p style="font-size: 2em;"><strong>Wo:</strong> <a href="https://goo.gl/maps/U5Lu5vpXf1K2" target="_blank">Mazars, Alt-Moabit 2, 10557 Berlin</a></p>
                    <p style="font-size: 1.5em;">Die Teilnahme ist kostenlos und steht nur Studierenden und Referendaran offen.</p>
                </div>
            </div>
            <div class="row" style="margin-top: 4em;">
            {% for post in site.posts %}
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <img src="img/portfolio/{{ post.thumbnail }}" class="img-responsive img-centered" alt="">
                </div>
            {% endfor %}
            </div>
        </div>
    </section>
